.container{
    background-image: url("https://media-exp1.licdn.com/dms/image/C561BAQH4st5UwP8j8Q/company-background_10000/0/1532589958966?e=2159024400&v=beta&t=tnwfoNSSVCOZVLnbZPkCsZKrjLa5FSy2Pj9YB6D9xTo");
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.info{
    font-size: 72px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}
.info1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
color: white;
padding: 10px;
margin: auto 0 0 ;
background-color: black;


}
.text{
    
    font-size: 20px;
    justify-content: center;
    left:40px;
    right: 40px;
    padding: 0 20% 0 20%;
}
.text h2{
    font-size: 28px;
    text-align: center;
    padding: 20px;
}
.caffe-address{
    justify-content: center;
    align-items: center;
    padding: 0 20% 0 20%;
    max-width: 1000px;
    width: 100%;
}
.caffe-address img{
    width: 660px;
}
