:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-size: 1.8rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: var(--main-white);
}
.navbar{
 display: flex;   
 justify-content: flex-end;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background: var(--main-red);
 box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
 z-index: 10;
}
.navbar-link{
    display: flex;
    margin-right: 2rem;
}
.navbar-link a {
    display: block;
    font-size: 1.1rem;
    padding: 1rem;
    font-weight: 400;
    color: var(--main-white)
}
.Welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1{
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    
}
.Welcome-section > p{
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}
.projects{
    text-align: center;
    padding-left: 10rem 2rem;
    background: var(--main-blue);
}
.project-header{
    max-width: 700px;
    margin: 0 auto 6rem auto;
    padding-top: 10px;
    border-bottom: 0.2rem solid var(--main-white);
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:4rem;
    width: 100%;
    max-width: 1280px;
     margin: 0 auto;
     margin-bottom: 6rem;
}
.project{
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;

}
a{
    color: var(--main-white);
}
img{
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    display: block;
}
.project-title{
    font-size: 1.2rem;
    padding: 2rem 0.5rem;
}
.code{
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}
:hover ,code{
    color: #be3144;
}